<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>
<body>
    {{successMsg}}
    <form method="POST" class="Email-box" action="send">
        <label for="name">Name:</label>
        <input type="text" name="firstName" placeholder="Name...">
        <label for="email">Email:</label>
        <input type="email" name='emailadd'id='email' placeholder="example@mail.com">
        <button type="submit">Submit</button>
    </form>
</body>
</html>